<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>登录</title>
		<link href="/static/css/layui.css" rel="stylesheet">
        <style>
			#fontSizeSliderContainer {
				padding: 10px;
				text-align: center;
			}

			.layui-nav-child dd {
				padding: 10px 20px;
			}
		</style>
            <link rel="shortcut icon" type="image/x-icon" href="/static/img/logo.ico"/>
	</head>
	<body>
		<ul class="layui-nav">
			<li class="layui-nav-item">
				<img alt="50x50" src="/static/img/logo-big-w.png" width=100% height=30pt />
			</li>
            <li class="layui-nav-item">
				<a href="javascript:;">个性化设置</a>
				<dl class="layui-nav-child" style="color: black; text-align: center;">
					<dd>
						<div id="fontSizeSliderContainer">
							<label for="fontSizeSlider">调整字体大小:</label>
							<input type="range" id="fontSizeSlider" min="50" max="200" value="115">
						</div>
					</dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="">您好，请登录</a>
			</li>
		</ul>

		<div id='content'style="padding: 10pt 550px 10pt 550px;">
			<h1 style="text-align: center; padding: 20pt;">登录Full House</h1>
			<form class="layui-form" action="" style="background-color: #eaeaea; padding: 10pt;">
				<div class="layui-form-item" style="padding: 10pt;">
					<label class="layui-form-label">用户名</label>
					<div class="layui-input-block">
						<input type="text" name="username" lay-verify="required" placeholder="请输入" autocomplete="off"
							class="layui-input" style="width: 50%;">
					</div>
				</div>
				<div class="layui-form-item" style="padding: 10pt;">
					<label class="layui-form-label">密码</label>
					<div class="layui-input-inline layui-input-wrap">
						<input type="password" name="password" lay-verify="required|pass" placeholder="请输入"
							autocomplete="off" lay-affix="eye" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item" style="padding: 10pt;">
					<div class="layui-input-block">
						<button type="submit" class="layui-btn" lay-submit lay-filter="demo1">登录</button>
                        <a href="/register" style="color: #16baaa; padding: 5px">立即注册</a>
					</div>
				</div>
			</form>
		</div>

		<script src="/static/js/layui.js"></script>
		<script>
			$(document).ready(function() {
				$('#login-form').on('submit', function(e) {
					e.preventDefault(); // 阻止表单默认提交

					var formData = $(this).serialize(); // 序列化表单数据

					$.ajax({
						type: 'POST',
						url: '../login', // Django 的登录 URL
						data: formData,
						success: function(response) {
							if (response.status === 'success') {
								alert('登录成功！');
								window.location.href = '/index.html'; // 登录成功后跳转到首页
							} else {
								alert('登录失败：' + response.message);
							}
						},
						error: function() {
							alert('请求失败，请稍后重试。');
						}
					});
				});
			});
		</script>

	</body>
</html>