<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>商品详情 - 牡丹类</title>
		<link href="/static/css/layui.css" rel="stylesheet">
        <style>
			#fontSizeSliderContainer {
				padding: 10px;
				text-align: center;
			}

			.layui-nav-child dd {
				padding: 10px 20px;
			}
		</style>
            <link rel="shortcut icon" type="image/x-icon" href="/static/img/logo.ico"/>
	</head>
	<body>
		<ul class="layui-nav">
			<li class="layui-nav-item">
				<img alt="50x50" src="/static/img/logo-big-w.png" width=100% height=30pt />
			</li>
			<li class="layui-nav-item">
				<a href="../home">主页</a>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">分类</a>
				<dl class="layui-nav-child">
					<dd><a href="good2">兰花</a></dd>
					<dd><a href="good1">玫瑰</a></dd>
					<dd><a href="">牡丹</a></dd>
					<dd><a href="good4">康乃馨</a></dd>
					<dd><a href="good5">洋桔梗</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="data">购物奖励</a>
			</li>
            <li class="layui-nav-item">
				<a href="javascript:;">个性化设置</a>
				<dl class="layui-nav-child" style="color: black; text-align: center;">
					<dd>
						<div id="fontSizeSliderContainer">
							<label for="fontSizeSlider">调整字体大小:</label>
							<input type="range" id="fontSizeSlider" min="50" max="200" value="115">
						</div>
					</dd>
				</dl>
			</li>
		</ul>

		<div style="padding: 10px 300px 10px 300px;">
			<div id='content'class="layui-anim layui-anim-scale">
				<div class="layui-col-sm5 layui-col-md5 layui-col-lg5" style="overflow: hidden; padding: 0 20px 0 0;">
					<div>
						<div class="layui-carousel" id="ID-carousel-demo-2"
							style="width: 400%; height: 400%; border-radius: 10px;">
							<div carousel-item style="border-radius: 10px;">
								<div><img src="/static/img/goodpic/peony1.jpg" alt="1" width="100%" height="100%" />
								</div>
								<div><img src="/static/img/goodpic/peony2.jpg" alt="2" width="100%" height="100%" />
								</div>
								<div><img src="/static/img/goodpic/peony3.jpg" alt="3" width="100%" height="100%" />
								</div>
								<div><img src="/static/img/goodpic/peony4.jpg" alt="4" width="100%" height="100%" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-col-sm7 layui-col-md7 layui-col-lg7">
					<div class="layui-panel">
						<div style="padding: 32px; text-align: center;">
							<h1><strong>牡丹 被子植物门 木兰纲 虎耳草目 毛茛科 芍药属</strong></h1>
						</div>
					</div>
					<div style="padding: 20px; text-align: left; font-size: 115%;">
						花色泽艳丽，玉笑珠香，风流潇洒，富丽堂皇，有“花中之王”的美誉。<br />
						唐代白居易“花开花落二十日，一城之人皆若狂”和刘禹锡“唯有牡丹真国色，花开时节动京城”的诗句正是东都洛阳（一说长安）牡
						丹品赏习俗的生动写照。</div>
					<h1></h1><br />
					<h1></h1><br />
					<h1></h1><br />
					<div style="padding: 20px; text-align: left;">
						<h5 style="font-size: 150%;"><strong>商品价格</strong></h5><br />
						<h3 style="text-align: left; color: #16baaa; font-size: 250%;"><strong>￥1,600</strong></h3>
					</div>
				</div>
				<div class="layui-input-block" style="padding: 40px; text-align: center;">
					<button class="layui-btn" type="button"
						style="font-size: 150%; text-align: center; width: 150px; ">购买</button>
				</div>
			</div>

			<div>
				<hr / class="layui-border-green">
			</div>

			<div class="layui-anim layui-anim-down flow-default" style="padding: 20px 0 0 0; font-size: 150%;"
				id="demo">
				<img src="/static/img/peony.jpg" alt="示意图" width="100%" />
				<hr / class="layui-border-black">
				<h4><strong>牡丹（学名：Paeonia × suffruticosa Andr.）又称鼠姑、鹿韭、白茸、木芍药、百雨金、富贵花、洛阳花、谷雨花
				，是芍药科、芍药属植物。为多年生落叶灌木，茎高达2米；分枝短而粗。叶通常为二回三出复叶，表面绿色，无毛，背面淡绿色，有时
				具白粉，叶柄长5-11厘米，和叶轴均无毛。花单生枝顶，苞片5，长椭圆形；萼片5，绿色，宽卵形，花瓣5或为重瓣，玫瑰色、红紫色、
				粉红色至白色，通常变异很大，倒卵形，顶端呈不规则的波状；花药长圆形，长4毫米；花盘革质，杯状，紫红色；心皮5，密生柔毛。
				蓇葖长圆形，密生黄褐色硬毛。花期5月；果期6月。</strong>
				</h4>
				<p><br /></p>
				<p>花色泽艳丽，玉笑珠香，风流潇洒，富丽堂皇，有“花中之王”的美誉。在栽培类型中，主要根据花的颜色，可分成数百个品种。牡丹品种
				繁多，色泽亦多，以黄、绿、肉红、深红、银红为上品，尤其黄、绿为贵。牡丹花大而香，故又有“国色天香”之称。</p><br />
				<p>唐代白居易“花开花落二十日，一城之人皆若狂”和刘禹锡“唯有牡丹真国色，花开时节动京城”的诗句正是东都洛阳（一说长安）牡丹品赏
				习俗的生动写照。清代末年，牡丹就曾被当作中国的国花。1985年5月牡丹被评为中国十大名花之二。是中国特有的木本名贵花卉，有数千年
				的自然生长和1500多年的人工栽培历史。在中国栽培甚广，并早已引种世界各地。牡丹花被拥戴为花中之王，有关文化和绘画作品很丰富。
				</p><br />
			</div>
		</div>

		<script src="/static/js/layui.js"></script>
		<script>
			layui.use(function() {
				var carousel = layui.carousel;

				carousel.render({
					elem: '#ID-carousel-demo-2',
					width: '435px',
					height: '435px',
					arrow: 'none',
					autoplay: 'always'
				});
                 var fontSizeSlider = document.getElementById('fontSizeSlider');
				var contentDiv = document.getElementById('content');
				var demoDiv = document.getElementById('demo');

				fontSizeSlider.addEventListener('input', function() {
					var newSize = fontSizeSlider.value + '%';
					contentDiv.style.fontSize = newSize;
					demoDiv.style.fontSize = newSize;
				});
			});

		</script>


	</body>


</html>