<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>商品详情 - 玫瑰类</title>
		<link href="/static/css/layui.css" rel="stylesheet">
        <style>
			#fontSizeSliderContainer {
				padding: 10px;
				text-align: center;
			}

			.layui-nav-child dd {
				padding: 10px 20px;
			}
		</style>
            <link rel="shortcut icon" type="image/x-icon" href="/static/img/logo.ico"/>
	</head>
	<body>
		<ul class="layui-nav">
			<li class="layui-nav-item">
				<img alt="50x50" src="/static/img/logo-big-w.png" width=100% height=30pt />
			</li>
			<li class="layui-nav-item">
				<a href="../home">主页</a>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">分类</a>
				<dl class="layui-nav-child">
						<dd><a href="good2">兰花</a></dd>
					<dd><a href="good1">玫瑰</a></dd>
					<dd><a href="good3">牡丹</a></dd>
					<dd><a href="good4">康乃馨</a></dd>
					<dd><a href="good5">洋桔梗</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="data">购物奖励</a>
			</li>
            <li class="layui-nav-item">
				<a href="javascript:;">个性化设置</a>
				<dl class="layui-nav-child" style="color: black; text-align: center;">
					<dd>
						<div id="fontSizeSliderContainer">
							<label for="fontSizeSlider">调整字体大小:</label>
							<input type="range" id="fontSizeSlider" min="50" max="200" value="115">
						</div>
					</dd>
				</dl>
			</li>
		</ul>

		<div style="padding: 10px 300px 10px 300px;">
			<div id='content'class="layui-anim layui-anim-scale">
				<div class="layui-col-sm5 layui-col-md5 layui-col-lg5" style="overflow: hidden; padding: 0 20px 0 0;">
					<div>
						<div class="layui-carousel" id="ID-carousel-demo-2"
							style="width: 400%; height: 400%; border-radius: 10px;">
							<div carousel-item style="border-radius: 10px;">
								<div><img src="/static/img/goodpic/rose1.jpg" alt="1" width="100%" height="100%" /></div>
								<div><img src="/static/img/goodpic/rose2.jpg" alt="2" width="100%" height="100%" /></div>
								<div><img src="/static/img/goodpic/rose3.jpg" alt="3" width="100%" height="100%" /></div>
								<div><img src="/static/img/goodpic/rose4.jpg" alt="4" width="100%" height="100%" /></div>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-col-sm7 layui-col-md7 layui-col-lg7">
					<div class="layui-panel">
						<div style="padding: 32px; text-align: center;">
							<h1><strong>玫瑰 被子植物门 木兰纲 蔷薇目 蔷薇科 蔷薇属</strong></h1>
						</div>
					</div>
					<div style="padding: 20px; text-align: left; font-size: 115%;">
						玫瑰有许多不同的含义，这取决于它的颜色。然而，任何玫瑰通常都可以被视为象征：爱、荣誉、信仰、美丽、平衡、
						热情、智慧、奉献和永恒。<br />
						玫瑰作为经济作物时，其花朵主要用于食品及提炼香精玫瑰油，玫瑰油应用于化妆品、食品、精细化工等工业。
					</div>
					<h1></h1><br />
					<h1></h1><br />
					<h1></h1><br />
					<div style="padding: 20px; text-align: left;">
						<h5 style="font-size: 150%;"><strong>商品价格</strong></h5><br />
						<h3 style="text-align: left; color: #16baaa; font-size: 250%;"><strong>￥1,200</strong></h3>
					</div>
				</div>
				<div class="layui-input-block" style="padding: 40px; text-align: center;">
					<button class="layui-btn" type="button"
						style="font-size: 150%; text-align: center; width: 150px; ">购买</button>
				</div>
			</div>

			<div>
				<hr / class="layui-border-green">
			</div>

			<div class="layui-anim layui-anim-down flow-default" style="padding: 20px 0 0 0; font-size: 150%;"
				id="demo">
				<img src="/static/img/rose.jpg" alt="示意图" width="100%" />
				<hr / class="layui-border-black">
				<h4><strong>玫瑰（学名：Rosa rugosa Thunb.）：是蔷薇科、蔷薇属多种植物和培育花卉的通称名字。直立、蔓延或攀援灌木，
						多数被有皮刺、针刺或刺毛，稀无刺，有毛、无毛或有腺毛。叶互生；花单生；花托球形、坛形至杯形；花瓣5，稀4，
						开展，覆瓦状排列，白色、黄色，粉红色至红色；花柱顶生至侧生，外伸，离生或上部合生；花瓣倒卵形，重瓣至半
						重瓣，花有紫红色、黄色、粉色、白色和各种复色。枝条较为柔弱软垂且多密刺，每年花期只有一次。</strong></h4>
				<p><br /></p>
				<p>玫瑰是所有花卉中最著名和最受欢迎的一类。几个世纪以来，玫瑰一直备受推崇。历史证据表明，它们大约在5000年前在中国生长，
					从那时起它们就一直在历史中发挥作用。无论是古希腊人、罗马人、基督徒、共济会或其他人，玫瑰始终是爱、美和平等的永恒象征。
					虽然每种颜色表达爱，美和平衡有点不同，但主要的信息仍然是爱。</p><br />
				<p>玫瑰花的词源意义：古老的英国玫瑰来自拉丁语“rosa”，可能来自意大利和希腊方言“rhodon”，最有可能来自伊朗词根 *vrda-”。
					玫瑰在马其顿和色雷斯地区以及波斯和拉丁语及希腊语中很特别，很可能来自色雷斯的佛里吉亚语（Thraco-Phrygian）。</p><br />
				<p>据化石考证，在千万年前地球上已经有了蔷薇属植物。玫瑰属于蔷薇科蔷薇属，和蔷薇属的很多种花卉一样，发祥于中国北部、朝鲜、
					日本、俄罗斯等北半球温带地区。据记载，公元前古巴比伦、古希腊已广泛种植。其中在古希腊的建筑装饰、铸造的钱币和克里特岛的壁
					画中，都发现有用玫瑰花做主题的雕刻及绘画。</p><br />
				<p></p>
			</div>
		</div>

		<script src="/static/js/layui.js"></script>
		<script>
			layui.use(function() {
				var carousel = layui.carousel;

				carousel.render({
					elem: '#ID-carousel-demo-2',
					width: '435px',
					height: '435px',
					arrow: 'none',
					autoplay: 'always'
				});
                var fontSizeSlider = document.getElementById('fontSizeSlider');
				var contentDiv = document.getElementById('content');
				var demoDiv = document.getElementById('demo');

				fontSizeSlider.addEventListener('input', function() {
					var newSize = fontSizeSlider.value + '%';
					contentDiv.style.fontSize = newSize;
					demoDiv.style.fontSize = newSize;
				});
			});
		</script>


	</body>


</html>