<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>商品详情 - 玫瑰类</title>
		<link href="/static/css/layui.css" rel="stylesheet">
        <style>
			#fontSizeSliderContainer {
				padding: 10px;
				text-align: center;
			}

			.layui-nav-child dd {
				padding: 10px 20px;
			}
		</style>
            <link rel="shortcut icon" type="image/x-icon" href="/static/img/logo.ico"/>
	</head>
	<body>
		<ul class="layui-nav">
			<li class="layui-nav-item">
				<img alt="50x50" src="/static/img/logo-big-w.png" width=100% height=30pt />
			</li>
			<li class="layui-nav-item">
				<a href="../home">主页</a>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">分类</a>
				<dl class="layui-nav-child">
						<dd><a href="good2">兰花</a></dd>
					<dd><a href="good1">玫瑰</a></dd>
					<dd><a href="good3">牡丹</a></dd>
					<dd><a href="good4">康乃馨</a></dd>
					<dd><a href="good5">洋桔梗</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="data">购物奖励</a>
			</li>
            <li class="layui-nav-item">
				<a href="javascript:;">个性化设置</a>
				<dl class="layui-nav-child" style="color: black; text-align: center;">
					<dd>
						<div id="fontSizeSliderContainer">
							<label for="fontSizeSlider">调整字体大小:</label>
							<input type="range" id="fontSizeSlider" min="50" max="200" value="115">
						</div>
					</dd>
				</dl>
			</li>
		</ul>

		<div style="padding: 10px 300px 10px 300px;">
			<div id='content'class="layui-anim layui-anim-scale">
				<div class="layui-col-sm5 layui-col-md5 layui-col-lg5" style="overflow: hidden; padding: 0 20px 0 0;">
					<div>
						<div class="layui-carousel" id="ID-carousel-demo-2"
							style="width: 400%; height: 400%; border-radius: 10px;">
							<div carousel-item style="border-radius: 10px;">
								<div><img src="/static/img/goodpic/rose1.jpg" alt="1" width="100%" height="100%" /></div>
								<div><img src="/static/img/goodpic/rose2.jpg" alt="2" width="100%" height="100%" /></div>
								<div><img src="/static/img/goodpic/rose3.jpg" alt="3" width="100%" height="100%" /></div>
								<div><img src="/static/img/goodpic/rose4.jpg" alt="4" width="100%" height="100%" /></div>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-col-sm7 layui-col-md7 layui-col-lg7">
					<div class="layui-panel">
						<div style="padding: 32px; text-align: center;">
							<h1><strong>玫瑰花 </strong></h1>
						</div>
					</div>
					<div style="padding: 20px; text-align: left; font-size: 115%;">
						在浩瀚的宇宙中，每一朵玫瑰都是独一无二的星辰，就像《小王子》中的那朵，它等待着被你珍藏。
					</div>
					<h1></h1><br />
					<h1></h1><br />
					<h1></h1><br />
					<div style="padding: 20px; text-align: left;">
						<h5 style="font-size: 150%;"><strong>商品价格</strong></h5><br />
						<h3 style="text-align: left; color: #16baaa; font-size: 250%;"><strong>￥1,200</strong></h3>
					</div>
				</div>
				<div class="layui-input-block" style="padding: 40px; text-align: center;">
					<button class="layui-btn" type="button"
						style="font-size: 150%; text-align: center; width: 150px; ">购买</button>
				</div>
			</div>

			<div>
				<hr / class="layui-border-green">
			</div>

			<div class="layui-anim layui-anim-down flow-default" style="padding: 20px 0 0 0; font-size: 150%;"
				id="demo">
				<img src="/static/img/rose.jpg" alt="示意图" width="100%" />
				<hr / class="layui-border-black">
				<h4><strong>玫瑰花自古以来就是爱情、美丽和浪漫的象征。在不同的文化中，它承载着丰富的意义。
                    在古希腊神话中，玫瑰是爱神阿佛洛狄忒的化身；而在古罗马，它象征着生命的短暂和美丽。
                    在中世纪，玫瑰被用来象征圣母玛利亚的纯洁和神性。
                    在现代，它仍然是情人节和婚礼中不可或缺的花卉，代表着深情和承诺。</strong></h4>
				<p><br /></p>
				<p>玫瑰花的种类繁多，从古典的杂交茶香玫瑰到现代的杂交玫瑰，每一种都有其独特的形态和香气。颜色上，玫瑰几乎涵盖了所有可能的色调，
                    从经典的红玫瑰代表热情和爱情，到白玫瑰象征纯洁和尊敬，再到黄玫瑰代表友谊和欢乐，每一种颜色都有其特定的语言。</p><br />
				<p>玫瑰花不仅用于装饰和表达情感，它们还广泛应用于香水、化妆品和食品工业。玫瑰精油是从玫瑰花瓣中提取的，它不仅用于制造高级香水，还因其舒缓和治疗的特性而被用于芳香疗法。
                    此外，玫瑰花瓣也可以用来制作果酱、茶饮和甜点，为人们的饮食增添一抹自然的风味。</p><br />
				<p>为了延长玫瑰花的保鲜期，适当的护理和保养是必要的。将玫瑰放置在清洁的花瓶中，并确保水质新鲜。定期更换水并修剪茎部，以防止细菌的生长。
                    避免将玫瑰放置在过热或直接阳光照射的地方，以保持它们的新鲜和美丽</p><br />
				<p></p>
			</div>
		</div>

		<script src="/static/js/layui.js"></script>
		<script>
			layui.use(function() {
				var carousel = layui.carousel;

				carousel.render({
					elem: '#ID-carousel-demo-2',
					width: '435px',
					height: '435px',
					arrow: 'none',
					autoplay: 'always'
				});
                var fontSizeSlider = document.getElementById('fontSizeSlider');
				var contentDiv = document.getElementById('content');
				var demoDiv = document.getElementById('demo');

				fontSizeSlider.addEventListener('input', function() {
					var newSize = fontSizeSlider.value + '%';
					contentDiv.style.fontSize = newSize;
					demoDiv.style.fontSize = newSize;
				});
			});
		</script>


	</body>


</html>