<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>商品详情 - 牡丹类</title>
		<link href="/static/css/layui.css" rel="stylesheet">
        <style>
			#fontSizeSliderContainer {
				padding: 10px;
				text-align: center;
			}

			.layui-nav-child dd {
				padding: 10px 20px;
			}
		</style>
            <link rel="shortcut icon" type="image/x-icon" href="/static/img/logo.ico"/>
	</head>
	<body>
		<ul class="layui-nav">
			<li class="layui-nav-item">
				<img alt="50x50" src="/static/img/logo-big-w.png" width=100% height=30pt />
			</li>
			<li class="layui-nav-item">
				<a href="../home">主页</a>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">分类</a>
				<dl class="layui-nav-child">
					<dd><a href="good2">兰花</a></dd>
					<dd><a href="good1">玫瑰</a></dd>
					<dd><a href="">牡丹</a></dd>
					<dd><a href="good4">康乃馨</a></dd>
					<dd><a href="good5">洋桔梗</a></dd>
					<dd><a href="good0">向日葵</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="data">购物奖励</a>
			</li>
            <li class="layui-nav-item">
				<a href="javascript:;">个性化设置</a>
				<dl class="layui-nav-child" style="color: black; text-align: center;">
					<dd>
						<div id="fontSizeSliderContainer">
							<label for="fontSizeSlider">调整字体大小:</label>
							<input type="range" id="fontSizeSlider" min="50" max="200" value="115">
						</div>
					</dd>
				</dl>
			</li>
		</ul>

		<div style="padding: 10px 300px 10px 300px;">
			<div id='content'class="layui-anim layui-anim-scale">
				<div class="layui-col-sm5 layui-col-md5 layui-col-lg5" style="overflow: hidden; padding: 0 20px 0 0;">
					<div>
						<div class="layui-carousel" id="ID-carousel-demo-2"
							style="width: 400%; height: 400%; border-radius: 10px;">
							<div carousel-item style="border-radius: 10px;">
								<div><img src="/static/img/goodpic/peony1.jpg" alt="1" width="100%" height="100%" />
								</div>
								<div><img src="/static/img/goodpic/peony2.jpg" alt="2" width="100%" height="100%" />
								</div>
								<div><img src="/static/img/goodpic/peony3.jpg" alt="3" width="100%" height="100%" />
								</div>
								<div><img src="/static/img/goodpic/peony4.jpg" alt="4" width="100%" height="100%" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-col-sm7 layui-col-md7 layui-col-lg7">
					<div class="layui-panel">
						<div style="padding: 32px; text-align: center;">
							<h1><strong>牡丹花</strong></h1>
						</div>
					</div>
					<div style="padding: 20px; text-align: left; font-size: 115%;">
                        月下牡丹语，风中富贵长，愿这国色倾城，温柔您的每一个梦。</div>
					<h1></h1><br />
					<h1></h1><br />
					<h1></h1><br />
					<div style="padding: 20px; text-align: left;">
						<h5 style="font-size: 150%;"><strong>商品价格</strong></h5><br />
						<h3 style="text-align: left; color: #16baaa; font-size: 250%;"><strong>￥1,20</strong></h3>
					</div>
				</div>
				<div class="layui-input-block" style="padding: 40px; text-align: center;">
					<button class="layui-btn" type="button"
						style="font-size: 150%; text-align: center; width: 150px; ">购买</button>
				</div>
			</div>

			<div>
				<hr / class="layui-border-green">
			</div>

			<div class="layui-anim layui-anim-down flow-default" style="padding: 20px 0 0 0; font-size: 150%;"
				id="demo">
				<img src="/static/img/peony.jpg" alt="示意图" width="100%" />
				<hr / class="layui-border-black">
				<h4><strong>牡丹，被誉为“花中之王”，自古以来就是富贵、繁荣和尊贵的象征。在中国古代，牡丹以其雍容华贵的姿态和绚丽多彩的花朵，
                    成为了皇室和贵族庭院中的宠儿，象征着权力和财富。
                    在唐代，牡丹更是被推崇为国花，其盛开的景象象征着国家的繁荣和昌盛。
                    在现代，牡丹仍然是各种节日和庆典中不可或缺的花卉，代表着喜庆和祥和。</strong>
				</h4>
				<p><br /></p>
				<p>牡丹的种类繁多，从单瓣到重瓣，从浅色到深色，每一种都有其独特的风姿和香气。颜色上，牡丹涵盖了从富丽的红色代表富贵和热情，
                    到庄重的紫色象征贵族和神秘，再到纯洁的白色代表高尚和纯洁，每一种色彩都承载着美好的寓意。</p><br />
				<p>为了保持牡丹的华贵和美丽，适当的护理和保养是必要的。将牡丹种植在肥沃的土壤中，并确保充足的阳光和适宜的水分。
                    定期施肥和修剪，以促进植株的健康生长和花朵的盛开。
                    通过精心的培育，牡丹的华贵气质和绚丽色彩将得以充分展现，为我们的生活增添一份奢华与壮丽。
				</p><br />
			</div>
		</div>

		<script src="/static/js/layui.js"></script>
		<script>
			layui.use(function() {
				var carousel = layui.carousel;

				carousel.render({
					elem: '#ID-carousel-demo-2',
					width: '435px',
					height: '435px',
					arrow: 'none',
					autoplay: 'always'
				});
                 var fontSizeSlider = document.getElementById('fontSizeSlider');
				var contentDiv = document.getElementById('content');
				var demoDiv = document.getElementById('demo');

				fontSizeSlider.addEventListener('input', function() {
					var newSize = fontSizeSlider.value + '%';
					contentDiv.style.fontSize = newSize;
					demoDiv.style.fontSize = newSize;
				});
			});

		</script>


	</body>


</html>