<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>商品详情 - 洋桔梗类</title>
		<link href="/static/css/layui.css" rel="stylesheet">
        <style>
			#fontSizeSliderContainer {
				padding: 10px;
				text-align: center;
			}

			.layui-nav-child dd {
				padding: 10px 20px;
			}
		</style>
            <link rel="shortcut icon" type="image/x-icon" href="/static/img/logo.ico"/>
	</head>
	<body>
		<ul class="layui-nav">
			<li class="layui-nav-item">
				<img alt="50x50" src="/static/img/logo-big-w.png" width=100% height=30pt />
			</li>
			<li class="layui-nav-item">
				<a href="../home">主页</a>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">分类</a>
				<dl class="layui-nav-child">
					<dd><a href="good2">兰花</a></dd>
					<dd><a href="good1">玫瑰</a></dd>
					<dd><a href="good3">牡丹</a></dd>
					<dd><a href="good4">康乃馨</a></dd>
					<dd><a href="">洋桔梗</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="data">购物奖励</a>
			</li>
            <li class="layui-nav-item">
				<a href="javascript:;">个性化设置</a>
				<dl class="layui-nav-child" style="color: black; text-align: center;">
					<dd>
						<div id="fontSizeSliderContainer">
							<label for="fontSizeSlider">调整字体大小:</label>
							<input type="range" id="fontSizeSlider" min="50" max="200" value="115">
						</div>
					</dd>
				</dl>
			</li>
		</ul>

		<div style="padding: 10px 300px 10px 300px;">
			<div id='content'class="layui-anim layui-anim-scale">
				<div class="layui-col-sm5 layui-col-md5 layui-col-lg5" style="overflow: hidden; padding: 0 20px 0 0;">
					<div>
						<div class="layui-carousel" id="ID-carousel-demo-2"
							style="width: 400%; height: 400%; border-radius: 10px;">
							<div carousel-item style="border-radius: 10px;">
								<div><img src="/static/img/goodpic/eustoma1.jpg" alt="1" width="100%" height="100%" />
								</div>
								<div><img src="/static/img/goodpic/eustoma2.jpg" alt="2" width="100%" height="100%" />
								</div>
								<div><img src="/static/img/goodpic/eustoma3.jpg" alt="3" width="100%" height="100%" />
								</div>
								<div><img src="/static/img/goodpic/eustoma4.jpg" alt="4" width="100%" height="100%" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-col-sm7 layui-col-md7 layui-col-lg7">
					<div class="layui-panel">
						<div style="padding: 32px; text-align: center;">
							<h1><strong>洋桔梗 被子植物门 木兰纲 菊超目 龙胆科 洋桔梗属</strong></h1>
						</div>
					</div>
					<div style="padding: 20px; text-align: left; font-size: 115%;">
						洋桔梗的得名和形状有关，因其长得和桔梗很像，又是外来的植物，故在“桔梗”前面加了一个“洋”字。<br />
						洋桔梗中含有多种天然药用成分能消灭人体内的敏感菌和致病菌，并能防止人体内炎症滋生。。</div>
					<h1></h1><br />
					<h1></h1><br />
					<h1></h1><br />
					<div style="padding: 20px; text-align: left;">
						<h5 style="font-size: 150%;"><strong>商品价格</strong></h5><br />
						<h3 style="text-align: left; color: #16baaa; font-size: 250%;"><strong>￥1,350</strong></h3>
					</div>
				</div>
				<div class="layui-input-block" style="padding: 40px; text-align: center;">
					<button class="layui-btn" type="button"
						style="font-size: 150%; text-align: center; width: 150px; ">购买</button>
				</div>
			</div>

			<div>
				<hr / class="layui-border-green">
			</div>

			<div class="layui-anim layui-anim-down flow-default" style="padding: 20px 0 0 0; font-size: 150%;"
				id="demo">
				<img src="/static/img/eustoma.jpeg" alt="示意图" width="100%" />
				<hr / class="layui-border-black">
				<h4><strong>洋桔梗（Eustoma grandiflorum（Raf.）Shinners）是龙胆科洋桔梗属的一年或两年生草本植物，茎直立；叶为对生，呈
				卵形，基部楔形，整体呈灰绿色；花瓣为钟状，花色丰富，有红、紫、白、黄，镶边等色，且有单重瓣之分；花期是5~10月；果期在10月。
				洋桔梗的得名和形状有关，因其长得和桔梗很像，又是外来的植物，故在“桔梗”前面加了一个“洋”字。</strong></h4>
				<p><br /></p>
				<p>洋桔梗原产于美国南部至墨西哥之间的石灰岩地带，现代的洋桔梗栽培是在日本兴旺起来的；洋桔梗在中国主要分布于云南玉溪，在
				美国分布于南部。洋桔梗全日照及冷凉环境，不耐热，生长适温15℃，忌渍涝，喜潮湿、肥沃的土壤。洋桔梗对肥料的需求较大，常用播种法
				和扦插法繁殖。</p><br />
				<p>洋桔梗中含有多种天然药用成分能消灭人体内的敏感菌和致病菌，并能防止人体内炎症滋生。洋桔梗花朵形大美丽，花型奇特，可用
				于布置花坛，也是一种常用的切花材料，它的花语是“真诚的爱”；此外，它也可做插花，也适宜于盆栽，是窗台、阳台上很美的花饰，具
				有良好的观赏价值。洋桔梗有瓶插期长、耐贮藏等商品花优点，具有一定的性价比，在中国及世界各地市场较为畅销，产品供不应求。
				将洋桔梗花瓣放入白醋与水中揉搓，可提取出颜色将丝织物染色，具有一定的实用性。</p><br />
			</div>
		</div>

		<script src="/static/js/layui.js"></script>
		<script>
			layui.use(function() {
				var carousel = layui.carousel;

				carousel.render({
					elem: '#ID-carousel-demo-2',
					width: '435px',
					height: '435px',
					arrow: 'none',
					autoplay: 'always'
				});
                 var fontSizeSlider = document.getElementById('fontSizeSlider');
				var contentDiv = document.getElementById('content');
				var demoDiv = document.getElementById('demo');

				fontSizeSlider.addEventListener('input', function() {
					var newSize = fontSizeSlider.value + '%';
					contentDiv.style.fontSize = newSize;
					demoDiv.style.fontSize = newSize;
				});
			});
		</script>


	</body>


</html>