<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>商品详情 - 兰花类</title>
		<link href="/static/css/layui.css" rel="stylesheet">
        <style>
			#fontSizeSliderContainer {
				padding: 10px;
				text-align: center;
			}

			.layui-nav-child dd {
				padding: 10px 20px;
			}
		</style>
            <link rel="shortcut icon" type="image/x-icon" href="/static/img/logo.ico"/>
	</head>
	<body>
		<ul class="layui-nav">
			<li class="layui-nav-item">
				<img alt="50x50" src="/static/img/logo-big-w.png" width=100% height=30pt />
			</li>
			<li class="layui-nav-item">
				<a href="../home">主页</a>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">分类</a>
				<dl class="layui-nav-child">
						<dd><a href="good2">兰花</a></dd>
					<dd><a href="good1">玫瑰</a></dd>
					<dd><a href="good3">牡丹</a></dd>
					<dd><a href="good4">康乃馨</a></dd>
					<dd><a href="good5">洋桔梗</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="data">购物奖励</a>
			</li>
            <li class="layui-nav-item">
				<a href="javascript:;">个性化设置</a>
				<dl class="layui-nav-child" style="color: black; text-align: center;">
					<dd>
						<div id="fontSizeSliderContainer">
							<label for="fontSizeSlider">调整字体大小:</label>
							<input type="range" id="fontSizeSlider" min="50" max="200" value="115">
						</div>
					</dd>
				</dl>
			</li>
		</ul>

		<div style="padding: 10px 300px 10px 300px;">
			<div id="content" class="layui-anim layui-anim-scale">
				<div class="layui-col-sm5 layui-col-md5 layui-col-lg5" style="overflow: hidden; padding: 0 20px 0 0;">
					<div>
						<div class="layui-carousel" id="ID-carousel-demo-2"
							style="width: 400%; height: 400%; border-radius: 10px;">
							<div carousel-item style="border-radius: 10px;">
								<div><img src="/static/img/goodpic/orchid1.jpg" alt="1" width="100%" height="100%" />
								</div>
								<div><img src="/static/img/goodpic/orchid2.jpg" alt="2" width="100%" height="100%" />
								</div>
								<div><img src="/static/img/goodpic/orchid3.jpg" alt="3" width="100%" height="100%" />
								</div>
								<div><img src="/static/img/goodpic/orchid4.jpg" alt="4" width="100%" height="100%" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-col-sm7 layui-col-md7 layui-col-lg7">
					<div class="layui-panel">
						<div style="padding: 32px; text-align: center;">
							<h1><strong>兰花 被子植物门 单子叶植物纲 微子目 兰科 兰属</strong></h1>
						</div>
					</div>
					<div style="padding: 20px; text-align: left; font-size: 115%;">
						中国传统名花中的兰花仅指分布在中国兰属植物中的若干种地生兰，如春兰、惠兰、建兰、墨兰和寒兰等，即通常所指的“中国兰”。<br />
						中国人历来把兰花看作是高洁典雅的象征，并与“梅、竹、菊”并列，合称“四君子”。通常以“兰章”喻诗文之美，以“兰交”喻友谊之真。
					</div>
					<h1></h1><br />
					<h1></h1><br />
					<h1></h1><br />
					<div style="padding: 20px; text-align: left;">
						<h5 style="font-size: 150%;"><strong>商品价格</strong></h5><br />
						<h3 style="text-align: left; color: #16baaa; font-size: 250%;"><strong>￥1,600</strong></h3>
					</div>
				</div>
				<div class="layui-input-block" style="padding: 40px; text-align: center;">
					<button class="layui-btn" type="button"
						style="font-size: 150%; text-align: center; width: 150px; ">购买</button>
				</div>
			</div>

			<div>
				<hr / class="layui-border-green">
			</div>

			<div class="layui-anim layui-anim-down flow-default" style="padding: 20px 0 0 0; font-size: 150%;"
				id="demo">
				<img src="/static/img/orchid.jpg" alt="示意图" width="100%" />
				<hr / class="layui-border-black">
				<h4><strong>兰花（学名：Cymbidiumssp.）：是单子叶植物纲、兰科、兰属植物通称。附生或地生草本，叶数枚至多枚，通常生于假鳞茎
				基部或下部节上，二列，带状或罕有倒披针形至狭椭圆形，基部一般有宽阔的鞘并围抱假鳞茎，有关节。总状花序具数花或多花
				，颜色有白、纯白、白绿、黄绿、淡黄、淡黄褐、黄、红、青、紫。</strong>
				</h4>
				<p><br /></p>
				<p>中国传统名花中的兰花仅指分布在中国兰属植物中的若干种地生兰，如春兰、惠兰、建兰、墨兰和寒兰等，即通常所指的“中国兰”。
					这一类兰花与花大色艳的热带兰花大不相同，没有醒目的艳态，没有硕大的花、叶，却具有质朴文静、淡雅高洁的气质，很符合东方人
					的审美标准。在中国有一千余年的栽培历史。</p><br />
				<p>中国人历来把兰花看作是高洁典雅的象征，并与“梅、竹、菊”并列，合称“四君子”。通常以“兰章”喻诗文之美，以“兰交”喻友谊之真。
					也有借兰来表达纯洁的爱情，“气如兰兮长不改，心若兰兮终不移”、“寻得幽兰报知己，一枝聊赠梦潇湘”。1985年5月兰花被评为中国十
					大名花之四。</p><br />
			</div>
		</div>

		<script src="/static/js/layui.js"></script>
		<script>
			layui.use(function() {
				var carousel = layui.carousel;

				carousel.render({
					elem: '#ID-carousel-demo-2',
					width: '435px',
					height: '435px',
					arrow: 'none',
					autoplay: 'always'
				});
                 var fontSizeSlider = document.getElementById('fontSizeSlider');
				var contentDiv = document.getElementById('content');
				var demoDiv = document.getElementById('demo');

				fontSizeSlider.addEventListener('input', function() {
					var newSize = fontSizeSlider.value + '%';
					contentDiv.style.fontSize = newSize;
					demoDiv.style.fontSize = newSize;
				});
			});

		</script>


	</body>


</html>