<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>商品详情 - 兰花类</title>
		<link href="/static/css/layui.css" rel="stylesheet">
        <style>
			#fontSizeSliderContainer {
				padding: 10px;
				text-align: center;
			}

			.layui-nav-child dd {
				padding: 10px 20px;
			}
		</style>
            <link rel="shortcut icon" type="image/x-icon" href="/static/img/logo.ico"/>
	</head>
	<body>
		<ul class="layui-nav">
			<li class="layui-nav-item">
				<img alt="50x50" src="/static/img/logo-big-w.png" width=100% height=30pt />
			</li>
			<li class="layui-nav-item">
				<a href="../home">主页</a>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">分类</a>
				<dl class="layui-nav-child">
						<dd><a href="good2">兰花</a></dd>
					<dd><a href="good1">玫瑰</a></dd>
					<dd><a href="good3">牡丹</a></dd>
					<dd><a href="good4">康乃馨</a></dd>
					<dd><a href="good5">洋桔梗</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="data">购物奖励</a>
			</li>
            <li class="layui-nav-item">
				<a href="javascript:;">个性化设置</a>
				<dl class="layui-nav-child" style="color: black; text-align: center;">
					<dd>
						<div id="fontSizeSliderContainer">
							<label for="fontSizeSlider">调整字体大小:</label>
							<input type="range" id="fontSizeSlider" min="50" max="200" value="115">
						</div>
					</dd>
				</dl>
			</li>
		</ul>

		<div style="padding: 10px 300px 10px 300px;">
			<div id="content" class="layui-anim layui-anim-scale">
				<div class="layui-col-sm5 layui-col-md5 layui-col-lg5" style="overflow: hidden; padding: 0 20px 0 0;">
					<div>
						<div class="layui-carousel" id="ID-carousel-demo-2"
							style="width: 400%; height: 400%; border-radius: 10px;">
							<div carousel-item style="border-radius: 10px;">
								<div><img src="/static/img/goodpic/orchid1.jpg" alt="1" width="100%" height="100%" />
								</div>
								<div><img src="/static/img/goodpic/orchid2.jpg" alt="2" width="100%" height="100%" />
								</div>
								<div><img src="/static/img/goodpic/orchid3.jpg" alt="3" width="100%" height="100%" />
								</div>
								<div><img src="/static/img/goodpic/orchid4.jpg" alt="4" width="100%" height="100%" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-col-sm7 layui-col-md7 layui-col-lg7">
					<div class="layui-panel">
						<div style="padding: 32px; text-align: center;">
							<h1><strong>兰花</strong></h1>
						</div>
					</div>
					<div style="padding: 20px; text-align: left; font-size: 115%;">
                        气若兰兮长不改，心若兰兮终不移。<br />
                        选一盆兰花，让您家里每个角落都充盈不移的高雅与纯洁。
					</div>
					<h1></h1><br />
					<h1></h1><br />
					<h1></h1><br />
					<div style="padding: 20px; text-align: left;">
						<h5 style="font-size: 150%;"><strong>商品价格</strong></h5><br />
						<h3 style="text-align: left; color: #16baaa; font-size: 250%;"><strong>￥1,600</strong></h3>
					</div>
				</div>
				<div class="layui-input-block" style="padding: 40px; text-align: center;">
					<button class="layui-btn" type="button"
						style="font-size: 150%; text-align: center; width: 150px; ">购买</button>
				</div>
			</div>

			<div>
				<hr / class="layui-border-green">
			</div>

			<div class="layui-anim layui-anim-down flow-default" style="padding: 20px 0 0 0; font-size: 150%;"
				id="demo">
				<img src="/static/img/orchid.jpg" alt="示意图" width="100%" />
				<hr / class="layui-border-black">
				<h4><strong>兰花，自古以来便是高洁、典雅和坚贞的象征。在多样的文化中，它承载着深远的意义。
                    在中国古代文学中，兰花常被用来比喻君子的品德，象征着高尚的情操和清新脱俗的气质。
                    在亚洲其他地区，兰花也常被视为智慧和精神之美的代表。
                    在现代，兰花依旧是表达敬意、爱和友谊的重要花卉，在各种庆典和仪式中扮演着不可或缺的角色。</strong>
				</h4>
				<p><br /></p>
				<p>兰花的种类繁多，从古老的地生兰到现代的杂交品种，每一种都有其独特的形态和香气。
                    在颜色上，兰花展现出多样的优雅色调，从纯洁的白色兰花代表高雅和纯洁，到粉色兰花象征温柔和热烈，
                    再到紫色兰花传达神秘和贵族气息，每一种色彩都承载着独特的情感和寓意。。</p><br />
				<p>为了保持兰花的鲜活和优雅，适当的护理和保养是必要的。
                    将兰花放置在适当的环境中，避免直接阳光照射和过热的地方。
                    定期浇水并保持土壤的湿润，同时注意修剪枯黄的叶片和花朵，以维持植株的健康和美观。
                    通过细心的照料，兰花的高雅气质和独特香气将得以延续，为我们的生活空间增添一份宁静与和谐</p><br />
			</div>
		</div>

		<script src="/static/js/layui.js"></script>
		<script>
			layui.use(function() {
				var carousel = layui.carousel;

				carousel.render({
					elem: '#ID-carousel-demo-2',
					width: '435px',
					height: '435px',
					arrow: 'none',
					autoplay: 'always'
				});
                 var fontSizeSlider = document.getElementById('fontSizeSlider');
				var contentDiv = document.getElementById('content');
				var demoDiv = document.getElementById('demo');

				fontSizeSlider.addEventListener('input', function() {
					var newSize = fontSizeSlider.value + '%';
					contentDiv.style.fontSize = newSize;
					demoDiv.style.fontSize = newSize;
				});
			});

		</script>


	</body>


</html>